.navbar {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  gap: 5px;
  flex-direction: row;
  border-radius: 10px 10px 0 0;
  padding-top: 8px;
  overflow: hidden;
}

.navbar--primary {
  background-color: var(--brown);
}

.navbar__link {
  width: 95%;
  padding-top: 15px;
  border-radius: 10px 10px 0 0;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__link--active {
  background-color: var(--beige);
  border-bottom: 5px solid var(--green);
  padding-bottom: 10px;
}

.navbar__link--primary {
  padding-bottom: 15px;
}

.navbar__link:hover {
  background-color: #413f4a;
}

.navbar__link--active:hover {
  background-color: #eae6e3;
}

.navbar__link__icon {
  height: 20px;
}

.navbar__link__name {
  text-align: center;
  margin-top: 5px;
}

.navbar__link__name--primary {
  color: #b3b3b3;
}

.navbar__link__name--active {
  color: var(--green);
}

/* Tablet */
@media (min-width: 768px) {
  .navbar__link {
    flex-direction: column;
  }
}

/* Desktop */
@media (min-width: 1280px) {
  .navbar {
    width: 300px;
    height: 100%;
    flex-direction: column;
    gap: 10px;
    padding: 0 10px 0 0;
    border-radius: 0 10px 10px 0;
  }

  .navbar__link {
    border-radius: 0 10px 10px 0;
    padding: 15px 0;
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }

  .navbar__link--primary {
    padding-left: 20px;
  }

  .navbar__link--active {
    border-left: 5px solid var(--green);
    padding-left: 15px;
    border-bottom: none;
  }

  .navbar__link__icon {
    margin: 10px 20px;
    height: auto;
    width: 20px;
  }

  .navbar__logo {
    margin: 30px 0 30px 20px;
    width: 120px;
  }

  .navbar__link__name {
    margin: 0;
  }
}
