.select-options__icon {
  width: 20px;
}

@media (min-width: 768px) {
  .select-options__dropdown {
    margin-left: 10px;
    padding: 10px;
  }

  .select-options__dropdown .caret-down {
    margin: 0 0 1px 10px;
  }
}
