:root {
  --beige: #f8f4f0;
  --dark-grey: #201f24;
  --light-grey: #b3b3b3;
  --lightest-grey: #dbdbdb;
  --brown: #201f24;
  --green: #395b59;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", Arial, Helvetica, sans-serif;
}

button {
  border: none;
  border-radius: 0;
  background-color: white;
}

.page-main {
  margin: 20px;
}

.page-main__navbar-offset {
  margin-bottom: 75px;
}

body,
.page-main--primary {
  background-color: var(--beige);
}

.margin-left--auto {
  margin-left: auto;
}

.text-align--rigth {
  text-align: right;
}

.font--bold {
  font-weight: 700;
}

.text--grey {
  color: var(--light-grey);
}

.flex {
  display: flex;
}

@font-face {
  font-family: "Public Sans";
  src: url("./fonts/PublicSans-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Public Sans Italic";
  src: url("./fonts/PublicSans-Italic-VariableFont_wght.ttf");
}
@media (min-width: 768px) {
  .page-main__navbar-offset {
    margin-bottom: 85px;
  }
}

@media (min-width: 1280px) {
  .page-main__navbar-offset {
    margin-left: 330px;
  }

  .page-main {
    margin-bottom: 20px;
  }
}
